.site {
  display: grid;
  grid-template-columns: [main-start] 2fr [main-end] 1fr [sidebar-start] 1fr [sidebar-end];
  grid-template-rows: auto 1fr 3fr;
}

.masthead {
  grid-column: main-start/sidebar-start;
  grid-row: 2/3;
}

.page-title {
  grid-column: main-start/sidebar-end;
  grid-row: 1/2;
}

.sidebar {
  grid-column: sidebar-start/sidebar-end;
  grid-row: 2/4;
}

.main-content {
  grid-column: main-start/sidebar-end;
  grid-row: 2/4;
}

.footer-content {
  grid-column: 1/4 span;
  grid-row: 4;
}
