.site {
  display: grid;
  /* it says place a line at 50% and the other at 50% */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 3fr;
}

.masthead {
  grid-column: 2/4;
  grid-row: 2/3;
}

.page-title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.main-content {
  grid-column: 1/2;
  grid-row: 2/4;
}

.footer-content {
  grid-column: 2/2 span;
  grid-row: 4;
}
