.site {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
  grid-template-areas:
    "title title title"
    "main . masthead"
    "main sidebar footer";
  /* shorthand for column and row gaps */
  grid-gap: 0.5em 1em;
}

@media screen and (max-width: 600px) {
  .site {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "main masthead"
      "main sidebar"
      "footer footer";
  }
}

.masthead {
  grid-area: masthead;
}

.page-title {
  grid-area: title;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}

.footer-content {
  grid-area: footer;
}
