.site {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
  grid-template-areas:
    "title title title"
    "main masthead masthead"
    "main sidebar footer";
}

.masthead {
  grid-area: masthead;
}

.page-title {
  grid-area: title;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}

.footer-content {
  grid-area: footer;
}
